- hosts: web
  become: yes

  tasks:

  - name: Install nginx
    apt:
      name: nginx
      state: present
      update_cache: yes

  - name: Start nginx
    service:
      name: nginx
      state: started
      enabled: yes

  - name: Add branding
    copy:
      content: "<h1>Welcome to Bharati Demo Server</h1>"
      dest: /var/www/html/index.html
